# IGNORE ANY LOCAL BUILD (AVOID LOCAL TESTS MAKING IT THROUGH)
./index.html
./components/
./pages/
./blog/
./images/
./utils/

# IGNORE NON-CORE IMAGES BUT PASS THE FOLDERS
weird/images/blog/*
weird/images/pages/*

# OTHER UNNECESSARY STUFF
weird/python/__pycache__
weird/utils/fonts/geologica-v1-latin-300.woff2
weird/utils/fonts/geologica-v1-latin-600.woff2
weird/utils/fonts/geologica-v1-latin-900.woff2